In [1]:
import pandas as pd
import requests
import re
from random import randrange
from bs4 import BeautifulSoup
from collections import defaultdict

In [2]:
infl_data = pd.read_csv("./data/Inflation, consumer prices for the United States.csv")
infl_data.head()

         DATE  FPCPITOTLZGUSA
0  1965-01-01        1.585169
1  1966-01-01        3.015075
2  1967-01-01        2.772786
3  1968-01-01        4.271796
4  1969-01-01        5.462386

In [4]:
infl_data.shape

(53, 2)

In [5]:
inc_data = pd.read_csv("./data/Real Disposable Personal Income.csv")
inc_data.head()

         DATE  A067RL1Q156SBEA
0  1965-01-01              4.8
1  1965-04-01              4.6
2  1965-07-01             11.4
3  1965-10-01              8.3
4  1966-01-01              4.0

In [6]:
inc_data.shape

(216, 2)

In [7]:
gdp_data = pd.read_csv("./data/Real Gross Domestic Product.csv")
gdp_data.head()

         DATE  A191RL1Q225SBEA
0  1956-01-01             -1.5
1  1956-04-01              3.3
2  1956-07-01             -0.4
3  1956-10-01              6.7
4  1957-01-01              2.6

In [8]:
gdp_data.shape

(252, 2)

In [10]:
unemp_data = pd.read_csv("./data/unemp.csv")
unemp_data.head()

   Year  Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
0  1958  5.8  6.4  6.7  7.4  7.4  7.3  7.5  7.4  7.1  6.7  6.2  6.2
1  1959  6.0  5.9  5.6  5.2  5.1  5.0  5.1  5.2  5.5  5.7  5.8  5.3
2  1960  5.2  4.8  5.4  5.2  5.1  5.4  5.5  5.6  5.5  6.1  6.1  6.6
3  1961  6.6  6.9  6.9  7.0  7.1  6.9  7.0  6.6  6.7  6.5  6.1  6.0
4  1962  5.8  5.5  5.6  5.6  5.5  5.5  5.4  5.7  5.6  5.4  5.7  5.5

In [11]:
unemp_data.shape

(62, 13)

In [ ]:
_data = pd.read_csv("./data/.csv")
_data.head()

In [ ]:
_data.shape

In [ ]:
_data = pd.read_csv("./data/.csv")
_data.head()

In [ ]:
_data.shape